@font-face {
    font-family: 'JackPirate';
    src: url('./JackPiratePersonalUseOnly-OVGJP.ttf') format('truetype');
}

@font-face {
    font-family: 'BlackRose';
    src: url('./BlackRose-2Onld.ttf') format('truetype');
}

html {
    background: url('./background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    font-size: max(5vh, 36px);
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.name {
    font-family: 'JackPirate';
    margin-left: 10%;
}

.tabs {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.headBtn {
    font-family: 'BlackRose';
    border-style: none;
    background: none;
    color: white;
    font-size: max(3vh, 24px);
    margin: 0 20px;
}

.headBtn:hover {
    cursor: pointer;
}

.main {
    font-family: 'BlackRose';
    text-align: center;
    background-color: rgb(0, 0, 0, 0.9);
    width: 50%;
    margin: 8% auto;
    color: white;
    min-height: 50vh;
}

h1 {
    padding: 30px;
}

img {
    width: 50%;
    min-width: 150px;
    max-height: 30%;
    min-height: 200px;
    margin-bottom: 5%;
    border-radius: 80px;
    border-style: solid;
    border-color:dimgray ;
}

.aboutImg {
    content: url('./aboutimg.jpg');
}

.textCont {
    font-size: 26px;
    padding: 10px 20%;
}

.menuMain {
    background-color: rgba(0, 0, 0, 0.9);
}

.menuTitle {
    background-color: rgba(75, 71, 53, 0.9);
    border-style: solid;
    border-width: 3px;
    border-color: white;
}

.menuDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
}

.menuItem {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5%;
    width: 35%;
    min-width: 200px;
    min-height: 20vh;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: flex-end;
    margin-top: 1vh;
    margin-bottom: 1vh;
}


.itemText {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1vh;
}

.item1, .item2, .item3, .item4, .item5, .item6 {
    background-size: 100%;
}

.item1 {
    background-image: url('./item1.jpg');
}

.item2 {
    background-image: url('./item2.jpg');
}

.item3 {
    background-image: url('./item3.jpg');
}

.item4 {
    background-image: url('./item4.jpg');
}

.item5 {
    background-image: url('./item5.jpg');
}

.item6 {
    background-image: url('./item6.jpg');
}


@media only screen and (min-width: 867px) {
    .left {
        margin-right: 2%;
    }
    
    .right {
        margin-left: 2%;
    }
}